<tr class="table_row hide">
  <td>
    <span><%= group.name %></span>
  </td>
  <%= group_statistic_html group, start_month_field_value(params[:start_month_year]), month_field_value(params[:end_month_year]) %>
</tr>
