<% provide(:title, t(".title")) %>
<div class="container w-50 pt-10">
  <h1 class="fw-bold mb-0 text-center"><%= t ".title" %></h1>
  <div class="col-md-6 col-md-offset-3 m-auto">
    <%= render "form"%>
  </div>
</div>
