<% provide :title, t("project.new_project") %>
<h1 class="d-flex fw-bold justify-content-center mb-8"><%= t("project.created_project")%></h1>
<% content_for :button_text do %>
  <% t "project.form.submit" %>
<% end %>
<%= render "projects_form", url: projects_path %>
