<%= turbo_frame_tag "modal" do %>
  <div class="modal-member">
    <h1 class="modal-header mb-4 justify-content-center fw-bold text-uppercase"><%= t(".title") %></h1>
    <%= render "form" %>
  </div>
<% end %>
