.text-bg-news {
  background-color: green;
  color: white;
}

.text-bg-in_progress {
  background-color: orange;
  color: white;
}

.text-bg-maintaining {
  background-color: blue;
  color: white;
}

.text-bg-pending {
  background-color: yellow;
  color: white;
}

.text-bg-close {
  background-color: red;
  color: white;
}
