<div class="container w-50 d-flex justify-content-center">
  <%= turbo_frame_tag "modal" do %>
    <div class="modal-member z-3">
      <%= link_to "#", class: "close_x square", data: {controller: "modals", action: "modals#close"} do %>
        <span>X</span>
      <% end %>
      <h1 class="fw-bold text-center mb-4"><%= t(".title") %></h1>
      <%= render "form", url:  report_path(@report), remote: true %>
    </div>
  <% end %>
</div>
