<div class="container w-50 d-flex justify-content-center">
  <%= turbo_frame_tag "modal" do %>
    <div class="modal-member">
      <h1 class="mb-3 text-center"><%= @report.project_name %></h1>
        <%= render "report_detail" %>
      <div class="d-flex justify-content-center align-items-center">
        <%= link_to t(".close"), "#", class: "btn btn-danger btn-lg ", data: {
          controller: "modals",
          action: "modals#close"
        } %>
      </div>
    </div>
  <% end %>
</div>
